.login-title{
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 2rem;
}

.extra-links-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 25rem;
}

.link-btn{
    background-color: black;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.forget-pass-link:hover{
    background-color: rgb(235, 235, 101);
    color: black;
}

.reg-account-link:hover{
    background-color: dodgerblue;

}

.err-msg{
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    color: red;
    text-align: center;
}

